* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
}
section {
  height: 100vh;
  width: 100vw;
}
#one {
  background-color: thistle;
}
#two {
  background-color: rgb(198, 216, 191);
}
#three {
  background-color: rgb(191, 216, 242);
}
#four {
  background-color: rgb(231, 182, 182);
}
